
__pycache__/dadosDeconexao.cpython-311.pyc
__pycache__/pegaconds.cpython-311.pyc
condsRegistrados.json
dados.csv
dadosDeconexao.py
dadosFiltrados.json
FIBRA-resultadoConsultaBanco.json
FTTB-resultadoConsultaBanco.json
FTTH-resultadoConsultaBanco.json
pegacondsResultado.txt
RADIO-resultadoConsultaBanco.json
SELECT DISTINCT.sql
SEM-ESTRUTURA-resultadoConsultaBanco.json
TODOS-resultadoConsultaBanco.json
